<div>
  <span class="fa-stack" aria-hidden="true">
    <i (click)="add()" class="fa fa-plus fa-stack-1x fa-inverse" aria-hidden="true"></i>
  </span>

  <span class="button-span">
    <button type="button" (click)="save()" class="btn btn-danger btn-rounded btn-sm my-0">Save
    </button>
  </span>
</div>
<div id="table" class="table-editable">

  <table class="table table-bordered table-responsive-md table-striped text-center">

    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Quantity</th>
        <th scope="col">Category</th>
        <th scope="col">Remove</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let product of products">
        <td (keyup)="changeValue(product.id, $event.target.textContent)"
          (blur)="updateList(product.id, 'Name', $event.target.textContent)" class="pt-3-half" contenteditable="true">
          {{ product.name}}</td>
        <td (keyup)="changeValue(product.id, $event.target.textContent)"
          (blur)="updateList(product.id, 'Quantity', $event.target.textContent)" class="pt-3-half"
          contenteditable="true">{{ product.quantity}}</td>
        <td (keyup)="changeValue(product.id, $event.target.textContent)"
          (blur)="updateList(product.id, 'Category', $event.target.textContent)" class="pt-3-half"
          contenteditable="true">{{ product.category}}</td>
        <td>
          <span class="table-remove">
            <button type="button" (click)="remove(product)" class="btn btn-danger btn-rounded btn-sm my-0">Remove
            </button>
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>