<div class="row">
    <style>
        .col-2 {
            background-color: lightblue;
            text-align: center;
        }

        .col-9 {
            background-color: red;
            text-align: center;
        }

        .col-1 {
            background-color: green;
            text-align: center;
        }
    </style>
    <div class="col-3">
        <header class="accountHead">
            <h1>Account Page</h1>
        </header>

        <img src="../../assets/images/male.png" class="img-fluid">

        <body class="accountInfo">
            <h3>Name:</h3>
            <h3>Address:</h3>
            <h3>Interest:</h3>
            <h2></h2>
            <h2></h2>
        </body>
    </div>

    <div class="col-8">
        <mat-tab-group mat-align-tabs="center">
            <mat-tab label="Customer Items">
                <app-customer-items [products]="products" ></app-customer-items>
            </mat-tab>
            <mat-tab label="Transactions">  
                <app-transactions></app-transactions>
            </mat-tab>
        </mat-tab-group>













    </div>
</div>